

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.inputContainer > input, 
.inputContainer > select,
.inputContainer > div {
    width: 60%;
    min-width: 80%;
}

.firstInputRowContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

#accountName {
    flex-grow: 1;
}

#accountColorCode {
    height: 25px;
    width: 25px;
    border: 2px solid transparent;
    position: relative;
}

.modalForm {
    width: 90%;
    width: 90%;
}