.socialPageContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y:hidden
}
.socialTitle{
    color: rgb(17, 181, 93);
    text-align: center;
}
.buttonContainer{
    display:flex;
    position: absolute;
    margin-top: 50px;
    height: 60vh;
}
#swapButton{  
    background-color: blue;
    padding:3px;
    margin-left: 1px;
    height:fit-content;
    width:fit-content;
}