.socialPageContainer{
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
}

.socialPageCards{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.socialTitle{
    display: flex;
    color: rgb(17, 181, 93);
    justify-content: center;
}

.buttonContainer{
    padding: 3px;
    display:flex;
    background-color: white;
    border-bottom: 1px black solid;
    justify-content: flex-end;
}

#swapButton{  
    background-color: blue;
    padding:3px;
    margin-left: 1px;
    height:fit-content;
    width:fit-content;
}