.commsPage{

    display:flex;
     flex-direction: column;
     align-items: center;

}
.commsContainer {
    background-color: rgb(17, 181, 93);
    background: linear-gradient(rgb(17, 181, 93), rgba(12, 175, 88, 0.353)) 50%;

}
.commsCardHeader{
    color:#085d19;
    padding:2px;
    margin:2px;
    border:solid black 1px;
    border-radius:10px;
    box-shadow: rgb(26, 2, 2) 5px, 5px, 0px, 5px;
    min-width: 340px;
    text-align: center;
    background-color: #bebebe;

}
.commTitle{
    cursor: pointer;
}
.topMems{
    list-style: none;
}