.commsContainer {
    height: 100%;
    width: 100%;
    padding-top: 25px;
    display:flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    gap: 10px;
    border-bottom-left-radius: var(--homeContainer-border-radius);
    border-bottom-right-radius: var(--homeContainer-border-radius);
}

.commsCard{
    width:40%;
}
.commsCardHeader{
    color:#085d19;
    padding:2px;
    margin:5px;
    border:solid black 1px;
    border-radius:10px;
    box-shadow: rgb(26, 2, 2) 5px, 5px, 0px, 5px;
    min-width: 140px;
    text-align: center;
    background-color: #bebebe;

}
.commTitle{
    cursor: pointer;
}
.topMems{
    list-style: none;
}