.commsContainer {
    height: 100%;
    width: 100%;
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 10px;
    border-bottom-left-radius: var(--homeContainer-border-radius);
    border-bottom-right-radius: var(--homeContainer-border-radius);
}

.commsCardHeader{
    height: fit-content;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #323232;
    color: white;
    position: relative;
    border-radius: 15px;
    box-shadow: inset 2px 2px 4px black;
    text-shadow: 1px 1px 2px black;

}

.commsCard {
    width: 45%;
    flex-shrink: 0;
    flex-grow: 1;
    flex-wrap: wrap;
}

.openCommsHeader {
    display: flex;
    justify-content: space-between;
}

.commTitle{
    cursor: pointer;
}

.friendsPlay{
    list-style: none;
}

.growWide {
    margin-right: auto;
}