.profilePageContainer {
    --profile-padding: 2%;
    height: 90%;
    width: 85%;
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 10px 2px rgb(36, 35, 35);
    border-radius: var(--homeContainer-border-radius);
}

.profileContent .searchbarInput:focus {
    position: relative;
}

.profileContent {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    overflow: auto;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

#mainProfilePicture {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #353535b1;
}

.profileHeader {
    width: 100%;
    height: 100px;
    padding-bottom: 10px;
    background: #323232;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    font-size: 24px;
    flex-shrink: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.profileInfo {
    width: 100%;
    padding: var(--profile-padding);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1a1919b7;
    flex-wrap: nowrap;
}

.profileInnerDiv {
    height: 100%;
    width: 60%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.profileInnerDiv div {
    width: 100%;
}

.profileInnerDiv p {
    margin: 10px;
    overflow-x: auto;
    white-space: nowrap;
}

.yourAccounts {
    color: white;
    padding: 5px;
    text-align: center;
    background: #323232;
}

.passwordRow {
    display: flex;
    flex-direction: column;
}

.updatePasswordForm {
    display: flex;
    padding: var(--profile-padding);
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    background-color: #1a1919b7;
}

.passwordFormInputs {
    width: 60%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
}

.passwordFormInputs label {
    color: white;
}

.updatePasswordForm input {
    margin-top: 5px;
}

.updateAndCancelBtns {
    width: 125px;
    display: flex;
    flex-direction: column;
}

.updateAndCancelBtns #updateProfile {
    white-space: nowrap;
}

.passwordFormInputs input {
    width: 80%;
    height: 25px;
    max-width: 250px;
    font-style: italic;
}

#update, #cancel {
    margin-top: 5px;
}

.passwordRowItem button {
    margin: 5px;
}

#LFFCheckbox {
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    transition-duration: 0.3s;
}

#LFFCheckbox:checked {
    border: 1px solid #ffffff;
    background-color: var(--button-red);
}

@media (width < 1000px) {
    .profileInfo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    .profileInnerDiv, .passwordFormInputs {
        width: 90%;
        max-width: 300px;
        text-align: center;
    }

    .updatePasswordForm {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
    }

    #mainProfilePicture {
        height: 200px;
        width: 200px;
    }
}

@media (width < 700px) {

    .profileHeader {
        flex-wrap: wrap;
    }
    
    .profileHeader h3 {
        order: 1;
        width: 100%;
        text-align: center;
    }

    .profileHeader div {
        order: 2;
    }

    #mainProfilePicture {
        height: 150px;
        width: 150px;
    }

    .profileInfo p {
        font-size: 12px;
    }

}