.landingContainer {
    width: 80%;
    height: 80%;
    background: #323232;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#toggleButton {
    cursor: pointer;
    user-select: none;
}