.noteContainer {
    height: calc(100% - 50px);
    width: 100%;
    background-color: var(--window-light-gray);
}

.selectNotes {
    height: fit-content;
    width: 100%;
    padding-right: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: center;
    gap: 5px; 
    background: white;
    border-bottom: 1px solid black;
}

.selectNotes label {
    font-size: 16px;
    white-space: nowrap;
}

.notes {
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
}

.noteBox {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
}

.noteCard {
    min-width: 175px;
    width: 250px;
    min-height: 100px;
    height: 200px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    resize: both;
    overflow: auto;
}

.noteHeader {
    max-height: 55px;
    padding: 5px;
    /* border-top-left-radius: inherit;
    border-top-right-radius: inherit; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* TODO: weird 1px right margin offset, need to review */
    margin-left: -1px;
    position: relative;
}

.noteTitle {
    font-size: 16px;
    font-weight: bold;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.noteDate {
    font-size: 12px;
    justify-self: flex-end;
}

.noteMoreDiv {
    right: 0px;
    bottom: -100px;
    position: absolute;
    border-radius: 5px;
}

.noteMoreBtns {
    padding: 7px;
    cursor: pointer;
}

.bottomNote {
    font-size: 12px;
    font-style: italic;
}

.noteMenu {
    font-size: 25px;
    cursor: pointer;
    user-select: none;
}

.noteContent {
    padding: 5px;
    background-color: white;
    flex-grow: 1;
    overflow: auto;
}

@media (width < 350px) {
    .selectNotes {
        justify-content: center;
    }
}