@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Rozha+One&display=swap');

:root {
    --window-light-gray: #efefefca;
    --window-dark-gray: #393e41;
    --header-height: 50px;
    --nav-menu-text-color: #bebebe;
    --button-red: #bd4b3a;
    --modal-text-shadow: 2px 2px black;
    --xbox-green: rgb(31, 119, 30);
    --light-xbox-green: rgba(47, 179, 45, .5);
}

/* #root {
    height:
} */

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sets min bounds for html page to 250x375 */
html {
    height: 100vh;
    min-height: 300px;
    min-width: 250px;
    font-family: Arial, Helvetica, sans-serif
}

img, video {
    width: 100%;
    height: 100%;
}

main {
    height: calc(100% - var(--header-height));
    margin-top: var(--header-height);
    display: flex;
    justify-content: center;
    align-items: center; 
}

body {
    height: 100%;
}

button {
    cursor: pointer;
    padding: 6px 12px;
    font-weight: bold;
    border-radius: 5px;
    background: var(--button-red);
    color: white;
    border: 2px solid white;
    text-shadow: 1px 1px black;
}

button:hover {
    background: rgb(157, 22, 22);
}

button:active {
    box-shadow: inset 1px 1px 2px white,
                inset -1px -1px 2px white;
}

#root {
    height: 100%;
}

.rootContainer {
    height: 100%;
}

.appContainer {
    height: 100%;
    background: #44bba4;
    display: flex;
    flex-direction: column;
}

.cursor {
    cursor: pointer;
}

.noselect {
    user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
}

header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    z-index: 3;
}

