.homeContainer{
    height:100%;
    width:100%;
    overflow: hidden;
    --homeContainer-border-radius: 10px;
    border-radius: var(--homeContainer-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.homeContainer * {
    border: 1px solid red;
}